{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Group ID : 42
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
<style>



    .box {
  width: 200px;
  height: 50px;
  border: none;
  font-size: 18px;
  color: white;
  background-color:#7a2696;
  box-shadow: 4px 4px black;
  border-radius:5px;
  margin:15px 5px;
  padding:15px 5px;
}
     


</style>
<script>
  $(function(){
      var dynamicVar = '{% if classifier %}{{ classifier }}{% else%}base{% endif %}';
      $("#classifier").val(dynamicVar).attr("selected", "selected");
  });
</script>
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static 'img/sidebar-2.jpg' %}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Group Id: 42
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="material-icons">home</i>
              <p>Home
              </p>
            </a>
          </li>
         
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'trending' %}">
              <i class="material-icons">trending_up</i>
              <p>Trending</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'history' %} ">
              <i class="material-icons">analytics</i>
              <p>Corona Analysis</p>
            </a>
          </li>
          
          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'map' %} ">
              <i class="material-icons">equalizer </i>
              <p>Algorithm</p>
            </a>
          </li>
           <li class="nav-item ">
            <a class="nav-link" href="{% url 'aboutus' %} ">
              <i class="material-icons">groups</i>
              <p>About Us</p>
            </a>
          </li>
         
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Algorithm</a>
          </div>
        </div>

      </nav>
<br><br>
               <div align="center" style="color:white">
                  <b><h2>Live Algorithm testing and comparision</h2>
                  1: Strongly Negative &nbsp;&nbsp; 2: Weakly Negative &nbsp;&nbsp; 3: Neutral
                  &nbsp;&nbsp; 4: Weakly Positive &nbsp;&nbsp; 5: Strongly Positive </b>
              </div><br> </p>
            

       
        <!-- start here-->
       
    <div class="container">
        <form action="{% url 'map' %}" method="POST" >
          {% csrf_token %} 
              <input type="text" placeholder="Enter text.." id="text1" class="form-control" name="entry" style="width:50%" required value='{% if entry %}{{ entry }}{% endif %}'>                
              <select name="classifier" id="classifier" class="box" required>
                        <option value="">Please Select Classifier</option>
                        <option value="textblob">TextBlob</option>
                        <option value="vader">VADER</option>
                        <option value="logistic">Logistic Regression</option>
                        <option value="svm">Support Vector Machine</option>
                        <option value="fasttext">FastText</option>
                    </select>
            
            <button type="submit" style="background-color: green;" id='results' class="box"  onclick="myFunction()">
                  Get Results!
            </button>
            <script>
              function myFunction()
              {
                var n=document.getElementsByName("entry").value;
                if(n=="")
                  {
                    alert("Please enter text!");
                  }
                  var val=document.getElementById("classifier").value;
                  if(val=="Please Select Classifier")
                  {
                    alert("Please select classifier!");
                  }
              }
            </script>
        </form>
    </div>
  
  {% if exp %}
 
        <h3 style="background-color: white;" align="center">Analysis of Text:
        <div align="center">
            <div>
              <iframe src="{% static 'html/ex.html' %}" id="1" style="margin:10px;" height="200" width="95%">
              </iframe>
            </div>
          </div>
        </h3>
    {% endif %}
  </div>
 </div>

</body>

</html>